body{
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/img/blue-abstract-background-blue-creative-background-neon-lines-background-neon-blue-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}